# macOS
.DS_Store

# Node
node_modules
.next
pnpm-lock.yaml

# Python
__pycache__/
.env
.env*.local
*.pyc

# Docker
*.log
*.pid
.venv/

*:Zone.Identifier

# Design preview build output
.next-design-preview
preview/.run
preview/.next-env.d.ts.keep
